* {
    margin: 0;
    padding: 0;
}
body {
    height: 2000px;
}
ul.menu {
    display: block;
    background: #3498db;
    color: #fff;
    height: 40px;
}
ul.menu>li {
    display: inline-block;
    padding: 0 8px;
    line-height: 40px;
    position: relative;
}
ul.menu>li>ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: #9b59b6;
    width: 120px;
}
ul.menu>li:hover>ul {
    display: block;
}

ul.menu>li:hover>ul>li ul {
    position: absolute;
    right: -120px;
    top: 0;
    width: 120px;
    background: #34495e;
    display: none;
}
ul.menu>li>ul>li:hover ul {
    display: block;
}